---
Language: Cpp
BasedOnStyle: LLVM

# Indentation
IndentWidth: 4
TabWidth: 4
UseTab: Never
IndentCaseLabels: false
NamespaceIndentation: None
AccessModifierOffset: -4

# Braces
BreakBeforeBraces: Custom
BraceWrapping:
  AfterClass: true
  AfterControlStatement: Never
  AfterEnum: true
  AfterFunction: true
  AfterNamespace: true
  AfterStruct: true
  AfterUnion: true
  BeforeCatch: false
  BeforeElse: false
  SplitEmptyFunction: true
  SplitEmptyRecord: true
  SplitEmptyNamespace: true

# Alignment
PointerAlignment: Left
AlignAfterOpenBracket: Align
AlignOperands: true

# Line length
ColumnLimit: 120

# Spacing
SpaceBeforeParens: ControlStatements
SpaceBeforeCpp11BracedList: true
SpaceInEmptyBlock: false
SpacesInAngles: false
SpacesInParentheses: false

# Includes
SortIncludes: false

# Other
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowShortBlocksOnASingleLine: Empty
AlwaysBreakTemplateDeclarations: Yes
Cpp11BracedListStyle: false
ConstructorInitializerIndentWidth: 4
BinPackArguments: false
BinPackParameters: false
FixNamespaceComments: false
...
